
img{
    max-width: 270px;
    border: 1px solid gray;
    margin-right: 3px;
}

#target *{
    outline: 1px solid red;
    padding: 3px;
}

.TOGGLE {
    display: block;
}

.MAGIC {
    display: none;
}